@using combit.Reporting.Repository

@model MVC_Web_Reporting_Sample.WebReporting.ViewModels.AddItemModel


@{
    ViewBag.Title = "Login";

    var projectTypes = new List<SelectListItem>();
    projectTypes.Add(new SelectListItem() { Text = "List", Value = RepositoryItemType.ProjectList.Value });
    projectTypes.Add(new SelectListItem() { Text = "Label", Value = RepositoryItemType.ProjectLabel.Value });
    projectTypes.Add(new SelectListItem() { Text = "Card", Value = RepositoryItemType.ProjectCard.Value });

}

<div style="max-width: 800px; margin:auto; margin-top: 100px">
    @if (Model.WasCreated)
    {
        <div style="color: forestgreen; font-size: 1.2em; text-align: center; padding: 3em">New Repository Item has been created!<br />Please refresh the page.</div>
    }
    else
    {

        <div class="ui-grid-solo">
            <div class="ui-block-a">
                <h2>Add Item to Repository</h2>
                <span>
                    Use this page to upload files and add them to the repository, or to create a new and empty List &amp; Label project of the specified project type in the repository.
                </span>
                <br />
                <br />
            </div>
        </div>
        <div class="ui-grid-a">

            <!-- Create new project form -->
            <div class="ui-block-a" style="padding-right: 1.3em; border-right: 1px solid #d1d1d1">
                <form action="@Url.Action("CreateNewProject", "Sample")" method="post" data-ajax="false">
                    <h4>Create New Project</h4>
                    <span>Note that the Web Report Viewer will not work for a blank project - you need to design it in the Web Report Designer!</span><br />
                    <br />
                    @Html.LabelFor(m => Model.ProjectName, "Name:")
                    @Html.TextBoxFor(m => Model.ProjectName)
                    @Html.ValidationMessageFor(m => Model.ProjectName)
                    <br />
                    @Html.LabelFor(m => Model.ProjectType, "Project Type:")
                    @Html.DropDownListFor(m => Model.ProjectType, projectTypes, new { data_mini = "true" })
                    @Html.ValidationMessageFor(m => Model.ProjectType)
                    <br /><br />
                    <div style="text-align: right">
                        <button type="submit" data-inline="true" data-icon="plus" data-mini="true">Create Project</button>
                    </div>
                </form>
            </div>

            <!--Upload file form -->
            <div class="ui-block-b" style="padding-left: 1.3em">
                <form action="@Url.Action("UploadFile", "Sample")" method="post" enctype="multipart/form-data" data-ajax="false">
                    <h4>Upload File</h4>
                    <span>Upload a local file to be imported to the repository.<br />(Project, Picture, PDF, Shapefile, ...)</span><br /><br /><br />

                    @Html.LabelFor(m => Model.File1, "Select a file:")
                    @Html.TextBoxFor(m => Model.File1, new { type = "file" })
                    @Html.ValidationMessageFor(m => Model.File1)

                    <div id="Section_File2" style="display: none">
                        @Html.LabelFor(m => Model.File2, "Select the corresponding database (.dbf) file:")
                        @Html.TextBoxFor(m => Model.File2, new { type = "file" })
                        @Html.ValidationMessageFor(m => Model.File2)
                    </div>
                    <div id="Section_ShowInToolbar" style="display: none">
                        @Html.LabelFor(m => Model.ShowInToolbar, "Show as report in the toolbar")
                        @Html.CheckBoxFor(m => Model.ShowInToolbar, new { data_mini = "true" })
                    </div>

                    <br />
                    <div style="text-align: right">
                        <button type="submit" data-inline="true" data-icon="plus" data-mini="true">Upload File</button>
                    </div>
                </form>
            </div>
        </div>

    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Show or hide elements that depend on the file type of the upload
        $('#File1').on('change', function () {
            var fileExtension = $('#File1').val().substr($('#File1').val().lastIndexOf('.'));
            var isShapeFile = (fileExtension === '.shp');
            var isProjectFile = (fileExtension === '.lst' || fileExtension === '.srt' || fileExtension === '.lsr' || fileExtension === '.crd' || fileExtension === '.lbl');
            if (isShapeFile) {
                $('#Section_File2').slideDown();
            } else {
                $('#Section_File2').slideUp();
            }

            if (isProjectFile) {
                $('#Section_ShowInToolbar').slideDown();
            } else {
                $('#Section_ShowInToolbar').slideUp();
            }
        });
    });
</script>
