@using combit.Reporting.Repository

@model MVC_Web_Reporting_Sample.WebReporting.ViewModels.StartPageModel

@{
    // D:   Bereite die Liste der Reports für die Headerleiste vor.
    // US:  Build the list of reports for the header bar.
    List<SelectListItem> reportList = new List<SelectListItem>();
    foreach (var repositoryItem in Model.RepositoryItems)
    {
        // D:   Ignoriere Repository-Items, die keine List & Label Projekte sind.
        // US:  Ignore repository items that are not a List & Label project.
        if (!RepositoryItemType.IsProjectType(repositoryItem.Type, false))
        {
            continue;
        }

        // D:   Ignoriere Projekte, für die das ShowInToolbar-Flag nicht gesetzt wurde (z.B. Drilldown-Projekte).
        // US:  Ignore projects without the ShowInToolbar-flag (e.g. drilldown projects).
        if (!repositoryItem.ShowInToolbar)
        {
            continue;
        }

        // D:   Lese den Anzeigenamen des Repository-Items aus. Dieser ist optional und kann null sein! Daher Fallback auf die Repository-ID.
        // US:  Get the repository item's display name. This name is optional and may be null! So fallback to the repository ID.
        string reportName = repositoryItem.ExtractDisplayName() ?? repositoryItem.InternalID;

        reportList.Add(new SelectListItem()
        {
            Value = repositoryItem.InternalID,
            Text = reportName
        });
    }

    // D:   Sortiere die Liste der Repository-Items alphabetisch nach Anzeigename.
    // US:  Sort the repository item list alphabetically by the display name.
    reportList.Sort((a, b) => a.Text.CompareTo(b.Text));
}

<div data-role="header" id="MainToolbar">
    <div data-role="controlgroup" data-type="horizontal">
        <a data-role="button" href="@Url.Action("StartPage", "Sample")" target="ContentContainer" data-icon="home" data-iconpos="right">Start</a>

        @Html.DropDownList("ReportRepositoryID", reportList, new { onchange = "startWebReportViewer()" })
        <button id="OpenWebReportDesigner" data-icon="edit" data-iconpos="right" onclick="startWebReportDesigner()">WebReportDesigner (Browser)</button>
        <button id="OpenWebReportViewer" data-icon="eye" data-iconpos="right" onclick="startWebReportViewer()">WebReportViewer</button>
        <button id="OpenDesigner" data-icon="edit" data-iconpos="right" onclick="startWebDesigner()">Windows-Designer</button>
        <a data-role="button" href="@Url.Action("AddItem", "Sample")" target="ContentContainer" data-icon="plus" data-iconpos="right">Add Repository Item</a>
    </div>
</div>


<iframe id="ContentContainer" name="ContentContainer" src="@Url.Action("StartPage", "Sample")" onload="maximizeContentContainerHeight()" frameborder="0" style="width: 100%"></iframe>

<script type="text/javascript">
    function startWebDesigner() {
        var selectedReportID = $('#ReportRepositoryID').val();
        var launchWebDesignerLink = '@Url.Action("WebDesignerLauncher", "Sample")' + '?reportRepositoryID=' + encodeURIComponent(selectedReportID);
        $('#ContentContainer').attr('src', launchWebDesignerLink);
    }

    function startWebReportDesigner() {
        var selectedReportID = $('#ReportRepositoryID').val();
        var launchWebDesignerLink = '@Url.Action("Designer", "Sample")' + '?reportRepositoryID=' + encodeURIComponent(selectedReportID);
        $('#ContentContainer').attr('src', launchWebDesignerLink);
    }

    function startWebReportViewer() {
        var selectedReportID = $('#ReportRepositoryID').val();
        var launchWebDesignerLink = '@Url.Action("Viewer", "Sample")' + '?reportRepositoryID=' + encodeURIComponent(selectedReportID);
        $('#ContentContainer').attr('src', launchWebDesignerLink);
    }

    function maximizeContentContainerHeight() {
        $('#ContentContainer').height($('body').height() - $('#MainToolbar').outerHeight() - 5);
    }

    $(document).ready(function () {
        $(window).resize(maximizeContentContainerHeight);
        maximizeContentContainerHeight();
    });
</script>

