@{
    ViewBag.Title = "Index";
}

@using AdhocDesignerSample.ViewModels

@model IndexViewModel

<div style="width: 100%; padding: 2em 2em;overflow:hidden">
    <h2>Ad-hoc Designer Example Project</h2>
    <div class="row">
        <div class="col-md-7" style="padding: 1em; padding-right: 4em">
            @await Html.PartialAsync("Tutorial")
        </div>


        <div class="col-md-5" style="padding: 1em; padding-left: 4em">

            <h3>Create New Project</h3>
            <div class="card card-default">
                <div class="card-body">
                    <form action="@Url.Action("CreateNewProject")" method="post" target="_blank">

                        @* Report Title *@
                        <div class="form-group">
                            <label for="reportTitle">Report Title:</label><br />
                            <input type="text" name="reportTitle" id="reportTitle" class="form-control" value="New Report" />
                        </div>
                        <div class="form-group row">
                            @* Project Type *@
                            <div class="col-sm-6">
                                <label class="radio control-label">Project Type:</label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="projectType" value="@combit.ListLabel25.AdhocDesign.ObjectModel.AdhocProject.PROJECTTYPE_SIMPLETABLE" checked>
                                        Table Project
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="projectType" value="@combit.ListLabel25.AdhocDesign.ObjectModel.AdhocProject.PROJECTTYPE_SIMPLECHART">
                                        Chart Project
                                    </label>
                                </div>
                            </div>

                            @* File/Repository Mode *@
                            <div class="col-sm-6">
                                <label class="radio control-label">Where to save:</label>
                                <div class="radio">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="repositoryMode" value="False" checked>
                                            in the file system
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="repositoryMode" value="True">
                                            in the repository
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Create Project</button>
                        </div>
                    </form>
                </div>
            </div>

            <h3>Open Project From File</h3>
            <div class="panel panel-default">
                <div class="list-group">
                    @foreach (string projectName in Model.ProjectsFromFileSystem)
                    {
                    <a href="@Url.Action("OpenDesignerForFile", new { projectName=projectName })" class="list-group-item" target="_blank">@projectName</a>
                    }
                </div>
            </div>

            <h3>Open Project From Repository</h3>
            <div class="panel panel-default">
                <div class="list-group">
                    @foreach (var repositoryEntry in Model.ProjectsFromRepository)
                    {
                    <a href="@Url.Action("OpenDesignerForRepositoryItem", new { id=repositoryEntry.Item1 })" class="list-group-item" target="_blank">@repositoryEntry.Item2</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
